* {
    margin : 0;
    font-family : arial;
    box-sizing : border-box;
}

body {
    background-color: whitesmoke;
}

.border {
    border : 1px solid transparent;
    border-radius : 2px;
}

.border:hover{
    border : 1px solid white;
    border-radius : 2px;
    cursor : pointer;
}

/* navbar */
.navbar {
    color : white;
    height : 60px;
    background-color: #0f1111;
    display : flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-logo {
    padding : 7px;
    width : 120px;
    height : 40px;
}

.logo {
    height : 40px;
    width : 100%;
    background-image : url("main-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* box1 */
.nav-address {
    padding : 11px;
}


.second-line {
    display : flex;
}

.first {
    margin-left : 15px;
    font-size : 0.8rem;
    color : #cccccc;
}

.second {
    margin-left : 3px;
    font-size : 1rem;
    font-weight : 700;
}

/* box2 */
.nav-search {
    width : 53%;
    height : 40px;
    background-color: orange;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 3px;
}

select {
    background-color: #f3f3f3;
    width : 51px;
    height : 40px;
    color: #0f1111;
    border : none;
    border-right : 1px solid #bbbaba;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

select:hover {
    cursor : pointer;
    background-color: #c4c4c4;
}

input {
    font-size : 0.9rem;
    width : 96%;
    height : 37px;
    border : none;
}

.search {
    width : 45px;
    text-align: center;
    font-size: 1.3rem;
}

.search:hover {
    cursor : pointer;
}

/* box3 & box4*/
.signin, .return {
    padding : 12px;
 }
 .first-text {
    font-size: 0.7rem;
 }
 .second-text {
    font-weight : 700;
 }
/* box5 */
.cart {
    padding : 12px;
}
#cart-logo {
    font-size : 2rem;
}

/* content-bar */
.contentbar {
    color : white;
    height : 40px;
    width : 100%;
    background-color: #3d4156;
    display : flex;
    gap : 20px;
    align-items: center;
}

.menu {
    height : 38px;
    width : 55px;
    display : flex;
    align-items: center;
    justify-content: space-around;
}

#menu-logo {
    margin-left: 15px;
    margin-right : 5px;
    font-size: 1.2rem;
}

span#menu {
    margin-right : 10px;
    font-size : 13px;
    font-weight : 700;
}

/* contents */
.contents {
    font-size : 14px;
    display : flex;
    gap : 20px;
    width : 75%;
}

.content {
    padding: 10px;
    height : 100%;
}

.shopdeals {
    position: absolute;
    right : 10px;
    padding : 10px;
    font-weight: 700;
}

/* hero image */
.start {
    height : 300px;
    width : 100%
}

.start-image {
    height : 500px;
    width : 100%;
    position : relative;
    z-index: 1;
    background-image: url("start.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display : flex;
    justify-content: center;
    align-items : end;
}

/* amazon india link */
.amazonin {
    height : 40px;
    width : 80%;
    padding : 0px 20px 0px 20px;
    background-color: #f5f6f6;
    text-align: center;
    position : relative;
    bottom : 230px;
}

.amazonin-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 10px;
    gap : 6px;
    color :#0f1111;
    font-size : 0.89rem;
}

a#amazon-in-direct {
    color : #007185;
    text-decoration: none;
}

a#amazon-in-direct:hover {
    color : rgb(255, 77, 0);
    text-decoration: underline;
}

/* cards */
.cards {
    width : 100%;
    height : 1120px;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-evenly;
}

.card_box {
    color : black;
    position : relative;
    z-index: 2;
    height : 360px;
    width : 23%;
    background-color: white;
}

.card_box h2 {
    color : black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size : 1.2rem;
    margin-left : 20px;
    margin-top : 20px;
}

/* box items */
.box_item {
    margin-top : 7%;
    margin-left : 7%;
    height : 250px;
    width : 86%;
    /* background-color: yellow; */
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
    background-size: cover;
}

.items {
    color : black;
    font-size : 0.8rem;
    /* background-color: black ; */
    height : 48%;
    width : 49%;
    display : flex;
    align-items : end;
    justify-content: start ;
}

.gaming_item1,
.gaming_item2,
.gaming_item3,
.gaming_item4{
    background-size: contain;
    background-repeat: no-repeat;
}

.gaming_item1 p,
.gaming_item2 p,
.gaming_item3 p,
.gaming_item4 p {
    position : relative;
    bottom : 20px;
}

.redirect {
    font-size : 0.85rem;
    color : #007185;
    text-decoration: none;
    margin-left : 20px;
    margin-top : 10px;
}

.redirect:hover {
    color : rgb(255, 77, 0);
    text-decoration: underline;
    cursor : pointer;
}

/* signin box */

#signin {
    background-color: transparent;
}

.signin_box {
    position : relative;
    bottom : 20px;
    height : 40%;
    width : 100%;
    background-color: white;
}
.signin_box h2 {
    font-size: 1.3rem;
    padding-top : 20px;
}
.signin_box button {
    font-weight : 600;
    height : 30px;
    width : 85%;
    position : relative;
    top : 20px;
    left : 20px;
    background-color: rgb(255, 183, 0);
    border : 1px solid yellow;
    border-radius : 10px;
}

.activeuser_box {
    margin-top : -2px;
    height : 55%;
    background-color: green;
    background-image: url("activeuser.jpg");
    background-size: cover;
}

/* exciting deals */
.deals {
    height : 420px;
    width : 97%;
    background-color: white;
    margin-left : 20px;
    margin-bottom : 20px;
    font-size : 0.95rem;
}

.deals h2 {
    display : inline-block;
    margin-left : 20px;
    margin-top : 20px;
    font-family: verdana;
    font-size : 1.3rem;
    font-weight : 800;
}

.all_deals {
    display : inline-block;
    margin-left : 3px;
    margin-top : 28px;
}

.dealboxes {
    margin-top : 15px;
    display : flex;
    background-color: white;
    display : flex;
    justify-content: space-evenly;
    height : 360px;
    width : 100%;
}

.deal_box {
    display : flex;
    align-items: end;
    background-color: white;
    height : 340px;
    width : 19%;
    background-size: cover;
    background-repeat: no-repeat;
}

.price {
    font-size: 0.7rem;
    width : 100%;
    padding : 3px;
    background-color: white;
    color : rgb(209, 19, 63);
    font-weight: bolder;
}

.price button { 
    height : 22px;
    margin-bottom : 5px;
    padding : 0px 15px 0px 15px;
    color : white;
    border : 0px solid black;
    border-radius : 3px;
    background-color: rgb(209, 19, 63);
}

p.d-price {
    font-size: 1rem;
    color : black;
}

small {
    font-size : 0.7rem;
    font-weight: 500;
    color : grey;
}

span.r-price {
    text-decoration: line-through;
}

/* new customer */
.new {
    height : 200px;
    background-color: white;
}

.new_customer {
    padding-top : 40px;
    background-color: white;
    position : relative;
    top : 45px;
    height : 85px;
    border : 1px solid grey;
    border-radius : 4px;
    text-align: center;
}

.new_customer p {
    font-size : 13px;
    font-weight : 530;
}

.new_customer button {
    margin : 5px;
    font-size : 12px;
    font-weight : 700;
    background-color: orange;
    border : 1px solid darkorange;
    border-radius : 4px;
    height : 30px;
    width : 20%;
}

p#new_customer {
    font-size : 11px;
}

#new_customer a {
    text-decoration: none;
    color : #007185;
}

#new_customer a:hover {
    color : rgb(255, 77, 0);
}

/* footer */

.foot_panel1 {
    height : 50px;
    background-color: #3d4156;
    color : white;
    font-size : 14px;
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.foot_panel2 {
    padding : 40px;
    height : 320px;
    background-color: #181e37;
    color : white;
    font-size : 14px;
    display : flex;
    justify-content: space-around;
}

.foot_panel2 ul a {
    line-height: 35px;
    font-size : 16px;
    text-decoration: none;
    color : white;
    font-weight : 700;
}

.foot_panel2 ul p {
    line-height: 35px;
    color : #dddddd;
    font-size: 14px;
}

.foot_logo {
    background-color: #181e37;
    height : 65px;
    width : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
    border-top : 0.5px solid grey;
}

.footlogo {
    margin-top : 15px;
    height : 50px;
    width : 100px;
    background-image: url("main-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.foot_panel3 {
    padding-top : 20px;
    height : 60px;
    background-color: #0f1111;
    font-size: 12px;
    text-align: center;
    color : white;
}

.foot_panel3 p {
    display : inline-block;
    padding : 5px;
}

/* For Different Screen size */

@media (min-width : 1400px) and (max-width : 2000px) {
    .nav-search {
        width : normal;
    }
}

@media (min-width : 1200px) and (max-width : 1400px) {
    .nav-search {
        width : 44%;
    }
}


@media screen and (max-width : 1200px) {
    .navbar {
        height : 45px;
        display : flex;
        align-items: center;
    }
    .main-logo {
        padding : 4px;
        width : 90px;
        height : 32px;
    }
    .logo {
        height : 32px;
    }
    /* Box1 */
    .nav-address {
        padding : 2px;
    }
    .second-line {
        display : flex;
    } 
    .first {
        margin-left : 15px;
        font-size : 0.6rem;
        color : #cccccc;
    }
    .second {
        margin-left : 3px;
        font-size : 0.8rem;
        font-weight : 700;
    }
    /* Box2 */
    .nav-search {
        width : 38%;
        height : 30px;
        display: flex;
        align-items: center;
        align-content: center;
        border-radius: 3px;
    } 
    select {
        width : 51px;
        height : 30px;
        border : none;
    }
    input {
        font-size : 0.9rem;
        width : 96%;
        height : 28px;
        border : none;
    }
    .search {
        width : 45px;
        text-align: center;
        font-size: 1.3rem;
    }
    /* content-bar */
    .contentbar {
        height : 35px;
        width : 100%;
        display : flex;
        gap : 5px;
        align-items: center;
    }

    /* contents */
    .cards {
        height : 1500px;
    }
    .contents {
        font-size : 12px;
        display : flex;
        gap : 10px;
        width : 70%;
    }
    .content {
        padding: 10px;
        height : 100%;
    }
    .shopdeals {
        position: absolute;
        right : 10px;
        padding : 5px;
        font-weight: 600;
    }

    .start {
        width : 100%;
    }
    .start-image {
        width : 100%;
    }

    #gaming {
        order : -1;
    }
    #computer {
        order : -1;
    }
    #fashion {
        order : -1;
    }
    #signin {
        order : 0;
    }
    #trend {
        order : -1;
    }
    #electronics {
        order : -1;
    }
    #health {
        order : 0;
    }
    #beauty {
        order : 0;
    }

    .card_box {
        width : 32%;
    }

    .start {
        height : 300px;
        min-width : 100%;
        width : 1vw;
    }
    
    .start-image {
        height : 500px;
        width : 100%;
        position : relative;
        z-index: 1;
        background-image: url("start.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display : flex;
        justify-content: center;
        align-items : end;
    }
    
}
